node_modules
dist
tmp
out-tsc
coverage
.nx
.angular
.git
.github
.vscode
.idea
.history
certs
scan-data/*.json
scan-data/*.json.gz
*.md
!README.md
Dockerfile
.dockerignore
docker-compose.yml
cleanup-comments.ps1
npm-debug.log
yarn-error.log
.DS_Store
